html {
    font-size: 10px;
    background-image: linear-gradient(to right top, #000000, #110e10, #1b171a, #222025, #292931, #2d3039, #323841, #364048, #3c484d, #444f52, #4d5757, #565e5d);
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2 {
    color: WHITE;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #cc0505;
    box-shadow: 0 0 1rem #b83232;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #f41616;
}
